<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Scaling Factors Visualizer</title>
  <script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
</head>
<body>
  <h2>Загрузите CSV-файл</h2>
  <input type="file" id="fileInput" />
  <button onclick="upload()">Загрузить</button>
  <select id="brandSelect"></select>

  <div id="result" style="margin-top: 20px;"></div>
  <div id="chart" style="width: 100%; height: 500px; margin-top: 40px;"></div>
  
  <script>
    async function upload() {
      const fileInput = document.getElementById("fileInput");
      const file = fileInput.files[0];
      if (!file) return alert("Сначала выберите файл");

      const formData = new FormData();
      formData.append("file", file);

      const response = await fetch("/upload_csv", {
        method: "POST",
        body: formData
      });

      const data = await response.json();

      if (!response.ok || !data.filtered_factors) {
        document.getElementById("result").innerText =
          "Ошибка: " + (data.error || "Нет данных от сервера");
        return;
      }
      
      // Таблица
      const html = data["filtered_factors"].map(row => `
        <div>От: <b>${row.from}</b> → <b>${row.to}</b>, коэффициент: <b>${row.scaling_factor}</b></div>
      `).join("");
      document.getElementById("result").innerHTML = html;

      // Чарт
      const chart = echarts.init(document.getElementById("chart"));
      const labels = data.filtered_factors.map(r => `${r.from} → ${r.to}`);
      const filteredData = data.filtered_factors.map(r => r.scaling_factor);
      const baselineData = data.baseline_factors.map(r => r.scaling_factor);

      chart.setOption({
        title: { text: "Сравнение с категорией" },
        tooltip: {trigger: 'axis'},
        legend: {data: ['Filtered', 'Baseline']},
        
        xAxis: {
          type: 'category',
          data: labels,
          axisLabel: { rotate: 45 }
        },
        
        yAxis: { type: 'value' },
          series: [
            {
              name: 'Filtered',
              type: 'bar',
              data: filteredData,
              barGap: 0
            },
            {
              name: 'Baseline',
              type: 'bar',
              data: baselineData
            }
          ]
      });
      //Селектор
      const brands = data.filters["Brand"];
      const select = document.getElementById("brandSelect");

      select.innerHTML ="";
      
      brands.forEach(brand =>{
        const option = document.createElement("option");
        option.value = brand;
        option.text = brand;
        select.appendChild(option);
      });
      }    
  </script>
  </body>
</html>
