<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Scaling Factors Visualizer</title>
  <script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
</head>
<body>
  <h2>Загрузите CSV-файл</h2>
  <input type="file" id="fileInput" />
  <button onclick="upload()">Загрузить</button>
  <select id="brandSelect"></select>
  <div id="result" style="margin-top: 20px;"></div>
  <div id="chart" style="width: 100%; height: 500px; margin-top: 40px;"></div>  
  <script scr="main.js"></script>
  </body>
</html>